@model StonkMarket.Models.UserStonk

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Stonk</h1>

<h4>Your Stonk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="StonkId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfStonks" class="control-label"></label>
                <input asp-for="NumberOfStonks" class="form-control" />
                <span asp-validation-for="NumberOfStonks" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TopPerformer" /> @Html.DisplayNameFor(model => model.TopPerformer)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
