@model StonkMarket.Models.UserProfile
@{
    ViewData["Title"] = "Stonks";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The StonkMarket!</h1>
    <h1 class="display-4">Its Time To YOLO!</h1>
    <h2 class="dislay-4">Your gonna be Rich, but you probably knew that.</h2>
</div>
