@model StonkMarket.Models.UserProfile
@{
    ViewData["Title"] = "Stonks";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The StonkMarket!</h1>
    <h1 class="display-4">Its Time To YOLO!</h1>
    <h2 class="dislay-4">Your gonna be Rich, but you probably knew that.</h2>
</div>
<header class="">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-2" src="https://media.gettyimages.com/photos/stock-market-data-picture-id157483234?k=20&m=157483234&s=612x612&w=0&h=AftIKJskhu1JTHUOdjPvBHpXYh2VpYcEoa6xkqM4wPE=" alt="">
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2 class="pre-wrap masthead-subheading font-weight-light mb-0">Stonks</h2>
    </div>
</header>

<div class="text-center container mt-5">
    <img class="" alt="">
    <h2 class="page-section-heading text-secondary d-inline-block mb-0"></h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
</div>