@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At StonkMarket, we take privacy and security seriously.
    This Privacy Policy outlines how StonkMarket Financial LLC
    and its affiliates (collectively, “StonkMarket,” “we,” “our,” or “us”)
    process the information we collect about you through our websites, mobile apps,
    and other online services (collectively, the “Services”) and when you otherwise interact
    with us, such as through our customer service channels.
</p>
