@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At StonkMarket, we take our privacy and security seriously.
    This Privacy Policy does not legally have to state what information or how StonkMarket Financial LLC
    and/or its affiliates (collectively, “StonkMarket,” “we,” “our,” or “us”)
    process any information we collect about you through our websites, mobile apps,
    and other online services (collectively, the “Services”) and when you otherwise interact
    with us, such as through our customer service channels. This may or may not include entrenched
    files that may or may not conduct specific or nonspecific surveillance for your benefit, so we
    can improve our services.
</p>
